# Python
__pycache__/
*.pyc
.venv/
venv/

# Ingestion local secrets & output
de-pipeline/ingestion/.env
de-pipeline/ingestion/data/

# Databricks credentials
de-pipeline/.keys/
de-pipeline/databricks/.env
