# Python
__pycache__/
*.pyc
.venv/
venv/
.keys/

# Ingestion local secrets & output
de-pipeline/ingestion/.env
de-pipeline/ingestion/data/
de-pipeline/ingestion/*.log

# Databricks credentials
de-pipeline/.keys/
de-pipeline/databricks/.env

# Snowflake credentials (private key)
de-pipeline/snowflake/.env
